- name: Bootstrap k3s cluster (1 control plane, 2 workers)
  hosts: all
  become: true
  gather_facts: true
  vars:
    k3s_version: "v1.30.6+k3s1"
  tasks:
    - name: Install basic packages
      apt:
        update_cache: yes
        name:
          - curl
          - ca-certificates
        state: present

    - name: Disable swap
      shell: |
        swapoff -a
        sed -i.bak '/\sswap\s/s/^/#/' /etc/fstab
      args:
        executable: /bin/bash

- name: Install k3s control plane
  hosts: controlplane
  become: false
  gather_facts: false
  vars:
    k3s_version: "v1.30.6+k3s1"
  tasks:
    - name: Install k3s server
      shell: |
        curl -sfL https://get.k3s.io | \
          INSTALL_K3S_VERSION="{{ k3s_version }}" \
          sh -s - server \
            --node-ip {{ private_ip }} \
            --advertise-address {{ private_ip }} \
            --tls-san {{ private_ip }} \
            --flannel-iface enp7s0 \
            --write-kubeconfig-mode 644
      args:
        executable: /bin/bash
        creates: /usr/local/bin/k3s

    - name: Wait for node-token to exist
      wait_for:
        path: /var/lib/rancher/k3s/server/node-token
        timeout: 180

    - name: Read join token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: token_raw

    - name: Save join token as a fact (for workers)
      set_fact:
        k3s_join_token: "{{ token_raw.content | b64decode | trim }}"

    - name: Fetch kubeconfig from control plane
      slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: kubeconfig_raw

    - name: Write kubeconfig locally (on your machine)
      delegate_to: localhost
      copy:
        dest: "./kubeconfig-dev.yaml"
        mode: "0600"
        content: "{{ kubeconfig_raw.content | b64decode }}"

- name: Install k3s workers
  hosts: workers
  become: true
  gather_facts: false
  vars:
    k3s_version: "v1.30.6+k3s1"
  tasks:
    - name: Install k3s agent and join cluster over private network
      shell: |
        curl -sfL https://get.k3s.io | \
          INSTALL_K3S_VERSION="{{ k3s_version }}" \
          K3S_URL="https://{{ hostvars[groups['controlplane'][0]].private_ip }}:6443" \
          K3S_TOKEN="{{ hostvars[groups['controlplane'][0]].k3s_join_token }}" \
          sh -s - agent \
            --node-ip {{ private_ip }} \
            --flannel-iface enp7s0 \
      args:
        executable: /bin/bash
        creates: /usr/local/bin/k3s-agent